<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./list"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span class="spacer">Hero list</span>
            </a>
    
            <a routerLink="./add"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Add hero</span>
            </a>

            <a routerLink="./search"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Search hero</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>

        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>{{ auth.usuario }}</span>

        <span class="spacer"></span>
        <button mat-button (click)="logout()">
            Logout
        </button>

    </mat-toolbar>

    <router-outlet class="container"></router-outlet>
</mat-sidenav-container>